<style>

    .user-row {
        margin-bottom: 14px;
    }

    .user-row:last-child {
        margin-bottom: 0;
    }

    .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }

    .dropdown-user:hover {
        cursor: pointer;
    }

    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }


    .table-user-information > tbody > tr > td {
        border-top: 0;
    }
    .toppad
    {margin-top:20px;
    }

</style>
<div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{firstname}} {{lastname}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://cdn.pixabay.com/photo/2017/05/16/13/41/work-2317806__340.png" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Registration date:</td>
                        <td>{{craete_date}}</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>{{dob}}</td>
                      </tr>
                   
                      <tr>
                        <td>Location</td>
                        <td>{{location}}</td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td>{{phone}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">{{email}}</a></td>
                      </tr>
                      <tr>
                        <td>Updated Resume</td>
                        <td>
                          <div *ngIf="documentName">
                              <a href="{{docUrl}}" target="_blank" >{{documentName}}</a> 
                          </div>
                          <div *ngIf="noDocumentMsg">
                              {{noDocumentMsg}}
                          </div>
                        </td>
                      </tr>
                     
                    </tbody>
                  </table>
                  
                 <div>
                     <div class="form-group">
                        <label>Upload New Resume</label>
                        <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                  
                    </div>
                    <div *ngFor="let item of uploader.queue">
                        <button type="button" class="btn btn-success btn-xs"
                                [style.visibility]="(buttonIsHide == 'true') ? 'hidden' : 'visible' "
                                (click)="uploadFile(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                    </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>