<div class="contanier">
<div class="address-form row col-md-10" style="margin: 0 auto;">
        <h2>Craete Job</h2>
        <div class="success" *ngIf="msg">{{msg}}</div>
        <div class="error" *ngIf="anyError">{{anyError}}</div>
        <form novalidate #createjobForm="ngForm" (ngSubmit)="submitJobForm(createjobForm)" [formGroup]="createjob">
            <div class="form-group ">
                <div class="row">
                    <div class="col-md-6">
                        <label for="label">Job Label:</label>
                        <input class="input-lg" type="text" name="label" formControlName="label" class="form-control">
                        <small class="error help-block" *ngIf="createjob.get('label').hasError('required') && createjob.get('label').touched">First name is required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="job_description">Job Description:</label>
                        <textarea  class="input-lg"  name="job_description" rows="5" cols="50" formControlName="job_description" class="form-control"></textarea>
                        <small class="error help-block" *ngIf="createjob.get('job_description').hasError('required') && createjob.get('job_description').touched">Job Description is required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="company">Company:</label>
                        <input class="input-lg" type="text" name="company" formControlName="company" class="form-control">
                        <small class="error help-block" *ngIf="createjob.get('company').hasError('required') && createjob.get('company').touched">Company is required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="recruiter_name">Recruiter Name:</label>
                        <input class="input-lg" type="text" name="recruiter_name" formControlName="recruiter_name" class="form-control">
                        <small class="error help-block" *ngIf="createjob.get('recruiter_name').hasError('required') && createjob.get('recruiter_name').touched">Company is required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="location">Job Location:</label>
                        <input class="input-lg" type="text" name="location" formControlName="location" class="form-control">
                        <small class="error help-block" *ngIf="createjob.get('location').hasError('required') && createjob.get('location').touched">Company is required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="recruiter_ph">Contact Number:</label>
                        <input class="input-lg" type="text" name="recruiter_ph" formControlName="recruiter_ph" class="form-control">
                        <small class="error" [hidden]="createjob.controls.recruiter_ph.valid || (createjob.controls.recruiter_ph.pristine && !submitted)">
                            Phonenumber required and valid.
                        </small>
                    </div>
                </div>
            </div>
            <!--<button type="submit" data-dismiss="modal" class="btn btn-primary" id="add">Submit</button>-->
            <button class="btn btn-primary"><i class="fa fa-sign-in"></i> submit</button>
        </form>
        
    </div>
</div>