<div style=" width:88%;padding-top: 20px;padding-left: 2%;">
    <input type="text" name="treename"  #treename placeholder="Enter name">
    <button [attr.disabled]="isDisabled ? true : null" (click)="createTree(treename.value)" name="add">Create new tree</button>
</div>



<div *ngIf="treenamea" style="width: 100%;">
    <div style="text-align: center"><h3>Current Treename : <strong>{{treenamea}}</strong></h3></div>
    <input type="number" style="width:23%" name="parentNode" min="0" #nodeValue placeholder="Node Value">
    <button name="addNode" (click)="addNode(nodeValue.value)">Enter new node</button>

    <div class="tree-data" style="margin-top: 21px;border: 1px solid;float: left;position: relative;width: 100%;">
        <div class="tree-table-parent" *ngFor="let depth of maxDepthArray; let i = index" style="text-align: center; width: 100%;float: left;margin: 0 auto;">
            <div class="tree-table-child" *ngFor="let gp of updatedObject[0][i+1];" [style.width.%]="updatedObject[0][i+1].width" style="float: left;">
                ID:{{gp.id}}[{{gp.value}}]
            </div>
        </div>
    </div>

</div>