<div class="contanier">
    <div class="address-form row col-md-10" style="margin: 0 auto;">
        <h2>Candidate Registration</h2>
        <div class="error">{{msg}}</div>
        <form novalidate #registrationForm="ngForm" (ngSubmit)="submitRegistration(registrationForm)" [formGroup]="registration">
            <div class="form-group ">
                <div class="row">
                    <div class="col-md-6">
                        <label for="firstname">Firstname:</label>
                        <input class="input-lg" type="text" name="firstname" formControlName="firstname" class="form-control">
                        <small class="error help-block" *ngIf="registration.get('firstname').hasError('required') && registration.get('firstname').touched">First name is required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="lastname">Lastname:</label>
                        <input class="input-lg" type="text" name="lastname" formControlName="lastname" class="form-control">
                        <small class="error help-block" *ngIf="registration.get('lastname').hasError('required') && registration.get('lastname').touched">Last name is required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="email">Email:</label>
                        <input class="input-lg" type="text" name="email" formControlName="email" class="form-control">
                        <small class="error help-block" *ngIf="registration.get('email').hasError('required') && registration.get('email').touched">Email is required</small>
                        <small class="error help-block" *ngIf="registration.get('email').hasError('incorrectMailFormat') && registration.get('email').touched">Email format should be <i>john@doe.com</i></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="dob">DOB:</label>
                        <input class="input-lg" type="text" name="dob" formControlName="dob" class="form-control">
                        <small class="error help-block" *ngIf="registration.get('dob').hasError('required') && registration.get('dob').touched">DOB is required</small>
                        <small class="error help-block" *ngIf="registration.get('dob').hasError('incorrectDateFormat') && registration.get('dob').touched">Date format should be <i>dd/mm/yyyy</i></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="location">Location:</label>
                        <input class="input-lg" type="text" name="location" formControlName="location" class="form-control">
                        <small class="error help-block" *ngIf="registration.get('location').hasError('required') && registration.get('location').touched">Location is required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="phone">Contact Number:</label>
                        <input class="input-lg" type="text" name="phone" formControlName="phone" class="form-control">
                        <small class="error help-block" *ngIf="registration.get('phone').hasError('required') && registration.get('phone').touched">Contact number is required</small>
                        <small class="error" [hidden]="registration.controls.phone.valid || (registration.controls.phone.pristine && !submitted)">
                            Phonenumber required and valid.
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" formGroupName="passwords">
                        <label for="password">Password:</label>
                        <input type="password" name="password" placeholder="enter password..." formControlName="password" class="form-control">
                        <small class="error help-block" *ngIf="registration.get('passwords').get('password').hasError('required') && registration.get('passwords').get('password').touched">password is required</small>
                    </div>
                    <div class="col-md-6" formGroupName="passwords">
                        <label for="confirmpassword">Confirm Password:</label>
                        <input type="password" name="confirmpassword" placeholder="confirm password..." formControlName="confirmpassword" class="form-control">
                        <small class="error help-block" *ngIf="registration.get('passwords').get('confirmpassword').hasError('required') && registration.get('passwords').get('confirmpassword').touched">confirm password is required</small>
                        <small class="error help-block" *ngIf="registration.get('passwords').hasError('incorrectPassword') && registration.get('passwords').get('confirmpassword').touched">Confirm password does not matches</small>
                    </div>
                </div>
            </div>
            <button type="submit" data-dismiss="modal" class="btn btn-primary" id="add">Submit</button>
        </form>
    </div>
</div>