<style>

    .business-header {
    height: 400px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }

    /* Customize the text color and shadow color and to optimize text legibility. */

    .tagline {
        text-shadow: 0 0 10px #000;
        color: #fff;
    }

    .img-center {
        margin: 0 auto;
    }
</style>
<div class="container">

        <hr>

        <div class="row">
            <div class="success" *ngIf="jobRefId">Thank You for applying the job, You reference id is: {{jobRefId}}</div>
            <div class="error" *ngIf="anyError">{{anyError}}</div>
            <div class="col-sm-8">
                <h2>{{label}}</h2>
                <p>{{description}}</p>
                <p>
                    <a href="javascript:void(0);" (click)="applyJob()" class="btn btn-default btn-lg" >Apply Job &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Date</strong>
                    <br>{{craete_date}}
                </address>
                <address>
                    <strong>Location</strong>
                    <br>{{location}}
                </address>
                <address>
                    <strong>{{recruiter_name}}</strong>
                    <br title="Phone">{{recruiter_ph}}
                    <br>
                </address>
            </div>
        </div>
        <!-- /.row -->

    </div>